services:
  postgresdb:
    container_name: dnevnik-postgresdb
    hostname: postgresdb
    image: postgres:16
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "psql -U postgres -d main -c 'SELECT 1'"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
    environment:
      POSTGRES_DB: main
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /var/lib/postgresql/data
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    networks:
      - appnet
    ports:
      - "5432:5432"

  redis:
    container_name: dnevnik-redis
    hostname: redis
    image: redis
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    networks:
      - appnet
    ports:
      - "6379:6379"

volumes:
  pgdata:
    driver: local

networks:
  appnet:
    driver: bridge
