name: Run Tests

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Start databases
        run: |
          docker compose up -d postgresdb redis

      - name: Wait for Postgres to be ready
        run: |
          until docker compose exec postgresdb pg_isready -U postgres; do
            echo "Waiting for postgres...";
            sleep 5;
          done

      - name: Install dependencies
        run: npm ci

      - name: No telemetry
        run: npm run disable-telemetry

      - name: Prepare .env
        run: |
          echo "DATABASE_URL=postgres://postgres:postgres@localhost:5432/main" >> .env
          echo "TOKENS_ENCRYPTION_KEY=someRandomString32SymbolsLength!" >> .env

      - name: Build
        run: NODE_ENV=production npm run build

      - name: Migrate database
        run: npm run migrate-apply

      - name: Run tests
        run: npm run test
